<app-menu></app-menu>
<div> 
    <h4 style="text-align: center;">Create New ToDo</h4>
    <!--Table to take in properties of new ToDo Item -->
    <table class="table" style="width: 500px; margin: 0 auto;">
        <tr>
            <th>Description:</th>
            <td>
                <input [(ngModel)]="todo.description" type="text">
            </td>
        </tr>
        <!--Skipped isDone property, which will always be false for New ToDos-->
        <tr>
            <th>Category:</th>
            <td>
                <input [(ngModel)]="todo.category" type="text">
            </td>
        </tr>
        <!-- UserId will automatically be assigned to the user logged into the system-->
        <tr>
            <th>Assigned to:</th>
            <td>
                You! (you can assign this to someone later)
                <!-- <select [(ngModel)]="todo.assignedUserId">
                    <option *ngFor="let u of users" [(ngValue)]="u.id">{{u.firstName}} {{u.lastName}}</option>   
                </select> -->
            </td>
        </tr>
        <tr>
            <th>Due Date:</th>
            <td>
                <input [(ngModel)]="todo.dueDate" type="date">
            </td>
        </tr>
        <!-- <tr>
            <th>Status:</th>
            <td>
                <input [(ngModel)]="todo.status" type="text">
            </td>
        </tr> -->
        <td colspan="2">
            <button (click)="save()" class="btn btn-success">Create ToDo</button>
        </td>
    </table>
</div>
