<app-menu></app-menu>
<label>To-do {{todo.id}} Edit</label> | 
<a routerLink = "/todo/create">New To-do</a>
<div class = "component">
    <table class = "table table-sm">
        <tr>
            <th>Description:</th>
            <td>
                <input [(ngModel)]="todo.description" type="text" size="140">
            </td>
        </tr>
        <tr>
            <th>Category:</th>
            <td>
                <input [(ngModel)]="todo.category" type="text" size="25">
            </td>
        </tr>
        <tr>
            <th>Due date:</th>
            <td>
                <input [(ngModel)]="todo.dueDate" type="text" size="10">
            </td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>
                <input [(ngModel)]="todo.status" disabled>
            </td>
        </tr>
        <tr>
            <th>Created by:</th>
            <td>
                <input [(ngModel)]="todo.user.firstName" disabled>
            </td>
        </tr>
        <tr>
            <th>Assigned to:</th>
            <td>
                <input [(ngModel)]="todo.assignedUser.firstName" disabled>
            </td>
        </tr>
        <tr>
            <th>Complete?</th>
            <td>
                <input [(ngModel)]="todo.isDone" type="checkbox">
            </td>
        </tr>
        <td colspan="2">
            <button (click)="save()" class="btn btn-primary">Save</button>
            <!-- <button (click)="approve()" class="btn btn-success mr-3">Approve</button>
            <button (click)="reject()" class="btn btn-danger">Reject</button> -->
        </td>
    </table>
</div>
