<app-menu></app-menu>
<label>To-do {{todo.id}} Detail</label> | 
<a routerLink = "/todo/create">New To-do</a>
<div class="component" style="width: 400px; text-align: center;">
    <table class="table table-sm">
        <tr>
            <th>Description:</th>
            <td>
                <input [(ngModel)]="todo.description" type="text" size="140" disabled>
            </td>
        </tr>
        <tr>
            <th>Category:</th>
            <td>
                <input [(ngModel)]="todo.category" type="text" size="25" disabled>
            </td>
        </tr>
        <tr>
            <th>Due date:</th>
            <td>
                <input [(ngModel)]="todo.dueDate" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>
                <input [(ngModel)]="todo.status" disabled>
            </td>
        </tr>
        <tr>
            <th>Created By:</th>
            <td>
                <input [(ngModel)]="todo.user.firstName" disabled>
            </td>
        </tr>
        <tr>
            <th>Assigned to:</th>
            <td>
                <input [(ngModel)]="todo.assignedUser.firstName" disabled>
            </td>
        </tr>
        <tr>
            <th>Complete?</th>
            <td>
                <input [(ngModel)]="todo.isDone" type="checkbox" disabled>
            </td>
        </tr>
        <td colspan="2">
            <button (click)="delete()" class="btn btn-danger">Delete To-Do</button>
        </td>
    </table>
</div>