<div class = "component">
    <h1>ToDo Login</h1>
    <table>
        <tr>
            <th>Username:</th>
            <td>
                <input [(ngModel)]="username" type="text" maxlength="30">
            </td>
        </tr>
        <tr>
            <th>Password:</th>
            <td>
                <input [(ngModel)]="password" type="password" maxlength="64">
            </td>
        </tr>
        <td colspan="2">
            <button (click)="login()" class="btn btn-primary">Login</button>
        </td>
        <span>{{message}}</span>
    </table>
</div>
